.container
{
    background:url("image.jpg")no-repeat center center;
    background-size: 1000px;
    padding-top: 15%;
    text-align: center;
    padding-left :10%;
    padding-right:10%;
    padding-bottom:20%;
}